.App {
  text-align: center;
}

.Logo {
  height: 10vmin;
}

.Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppButton {
  width: 100px;
  height: 50px;
  margin: 2px;
  box-sizing: border-box;
  background-color: #09d3ac;
  border: transparent;
}

.Link {
  color: #09d3ac;
}

.ScoreKeeper {
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

/* 
.SliderDiv {
  flex-direction: row;
}

.Slider {
  background-color: #09d3ac;
} */

/* .SideRules {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
} */