.Block button {
    width: 70px;
    height: 50px;
    /* margin: 2px; */
    box-sizing: border-box;
    color: grey;
    background-color: transparent;
    border: transparent;
    border-right: 2px grey solid;
}

.Block button:hover {
    background: rgb(252, 235, 167);
}

button.RightMost {
    border-right: transparent;
}